//===============================================================================
// FONTS
//===============================================================================

.serif { 
  font-family: 'Playfair Display', serif;
}

.sans { 
  font-family: 'Lato', sans-serif;
}

//set Rem size
body { 
  font-size: 16px;
  font-weight: light;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.333em;
  margin-bottom: 1rem;

}

h1, h2 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

h3, h4, h5, h6, p, ul {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}



h1 {
  font-size: 3.157rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

.sub-p {
  font-size: 0.8rem;
  font-weight: bold;
}

.link-blue2 {
  color: $blue2;
  text-decoration: none;
  h5, p, span {
    color: $blue2;
    display: inline; border-bottom: 1px solid $blue2;
  }

  &:hover { 
    color: $blue3;
    h5, p, span {
      color: $blue3;
      display: inline; border-bottom: 1px solid $blue3;
    }
  }
}

ul {
  li {
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    margin-bottom: 0.5rem;
    margin-left: 1rem;

    &:before {
      content: "•";
      color: $blue2;
      position: absolute;
      left: -16px;
      top: -1px;
    }
  }
}


//******* mobile font size *******//
@media screen and (max-width: $medium) {
  h1 {
    font-size: 2.488rem;
  }

  h2 {
    font-size: 2.074rem;
  }

  h3 {
    font-size: 1.728rem;
  }

  h4 {
    font-size: 1.44rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}






