//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


html, body {
  background-color: $ink;
  color: white;
}


//===============================================================================
// MENU
//===============================================================================

.header-wrap {
  padding: $reg-pad 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: top $med ease;
}

.menu-btn {
  position: absolute;
  right: 24px;
  top: 16px;
  // border-bottom: 1px solid;
  cursor: pointer;
  z-index: 999;

  &:hover { color: $blue3; }

  @media screen and (max-width: $small) {
    top: 20px;
  }
}

.svg-white {
  svg g { fill: white; }
}

.svg-black {
  svg g { fill: $ink; }
}

.menu-wrap {
  width: 100%;
  height: calc(100vh + 75px);
  background: $ink;
  position: absolute;
  top: -75px;
  left: 0;
  padding-top: $xvlrg-pad;
  z-index: 950;
  text-align: center;
  transition: all 1.5s ease;

  a {
    text-decoration: none;
    display: block;
    line-height: 1.75rem;
    color: $blue1;
   }

  h3 {
    color: $white;
    margin-top: $reg-pad;
  }

  h5 {
    color: $blue1;
    margin-top: 12px;
  }

  h3, h5, a {
     &:hover{ color: $blue3; }
  }
}

.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-64px);
  opacity: 0;
}



//===============================================================================
// HOME
//===============================================================================
[v-cloak] { display: none; }

.fade-in {
  animation: fade-in 2s ease;
}

@keyframes fade-in {
  0%, 50% { 
    opacity: 0;
  } 100% { 
    opacity: 1;
  }
}

div {
  position: relative;
}

.flex-cent {
  display: flex;
  align-items: center;
}

.flex-horiz-cent { justify-content: center; }

.no-show { display: none; }

//sections
.section-home-intro {
  height: calc( 90vh ); 
  min-height: 300px;
  display: flex;
  align-items: center;
}

.content-cent {
  max-width: 570px;
}

.section-heading {
  height: calc( 60vh ); 
  min-height: 300px;
}

.section-work {
  width: 100%;
  position: relative;
  padding-bottom: $vlrg-pad;
  padding-top: $xxvlrg-pad;

  @media screen and (max-width: $small) {
    padding-top: $xvlrg-pad;
  }
}

.section-sub-head {
  height: calc( 95vh ); 
  min-height: 300px;
}

.section {
  padding-top: $xxvlrg-pad;
  padding-bottom: $xxvlrg-pad;
}

.inline-100 {
  display: inline-block;
  width: 100%;
}

.mid-title-section {
  width: 100%;
  display: block;
  height: 350px;
  background: #000000;
  background: linear-gradient(to bottom, $ink 0%, $ink 50%, $white 50%, $white 100%);

  @media screen and (max-width: $small) {
    height: 260px;
  }
}

.mid-title-wrap {
  height: 100%;
  left: 50%;
  border-left: 1px solid $blue1;
  position: absolute;
  padding: 0 $reg-pad;
  display: flex;
  align-items: flex-end;
  color: $ink;
  
  h2 { margin-bottom: $sml-pad;}
  h5 { margin-bottom: 0; }

  @media screen and (max-width: $small) {
    left: $reg-pad;
  }
}


[class*='project-item-wrap'] {
  cursor: pointer; 
  margin-bottom: 72px;
  text-decoration: none;
  color: $ink;

  transition: all $long ease;

  h4 { 
    margin-bottom: $sml-pad;
    border-bottom: 1px solid;
    color: $ink;
    display: inline-block;
  }

  h5 { margin-bottom: $lrg-pad; }

  .proj-img-wrap {
    background-color: $ink;
    height: 800px;
    overflow: hidden;
  }

  figure {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all $med ease;
  }
  
  @media screen and (max-width: $large) {
    .proj-img-wrap { height: 600px; }
  }

  @media screen and (max-width: $medium) {
    .proj-img-wrap { height: 400px; }
  }

  @media screen and (min-width: $small) {
   &.top-offset {
      position: relative;
      top: 200px;
    }
  &.clear { clear: both; }
  }
  
  &:hover {
    h4 { color: $blue2; }
    h5 { color: $blue2; }
    figure { transform: scale(1.05); }
  }
}

.project-item-wrap-sml .proj-img-wrap {
  height: 450px;
}

.img-proj-hit { background: url(../img/global/proj-hitsource.jpg) no-repeat center center; }
.img-proj-travel { background: url(../img/global/proj-travel.jpg) no-repeat center center; }
.img-proj-archive { background: url(../img/global/proj-archive.jpg) no-repeat center center; }
.img-proj-harp { background: url(../img/global/proj-harp.jpg) no-repeat center center; }
.img-proj-whisky { background: url(../img/global/proj-whisky.jpg) no-repeat center center; }


.hidden {
  opacity: 0;
  transform: translateY( 48px );
}

.text-note {
  color: $blue3;
  position: relative;
  cursor: pointer;

  .note-hidden {
    position: absolute;
    width: 90px;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    background: $blue1;
    color: $white;
    padding: $sml-pad $sml-pad;
    border-radius: 100px;
    display: none;
    position: absolute;
    top: -36px;
    left: -38px;
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      display: block;
      background-color: $blue1;
      transform: rotate(45deg);
      bottom: -5px;
      left: calc(50% - 6px);

    }
  }

  &:hover {
    .note-hidden {
      display: block;
    }
  }

}



//===============================================================================
// CV
//===============================================================================


.work-exp-wrap {
  display: inline-block;
  width: 100%;
  margin-bottom: $lrg-pad;

  h1, h2, h3, h4 {
    margin-bottom: 0;
  }

  p { font-weight: 400; }

  h3 { margin-left: -2px; }

  h5 { margin-bottom: $sml-pad; }
  @media screen and (min-width: $small) {
    h5 { margin-top: $reg-pad; }
  }
  
}

.comp-wrap {
  margin-bottom: $lrg-pad;
  h5 { margin-bottom: $reg-pad; }
  span {
    padding: $sml-pad $reg-pad;
    border-radius: 50px;
    margin: 6px 6px 6px 0;
    display: inline-block;
    font-weight: 600;
  }
}

//===============================================================================
// Case Studies
//===============================================================================

.hero-travel { background: url(../img/cs/travel/header-img-travel.jpg) no-repeat center center; }
.hero-hits { background: url(../img/cs/hitsource/header-img-hit.jpg) no-repeat center center; }
.hero-archive { background: url(../img/cs/archive/header-img-sains.jpg) no-repeat center center; }

.cs-hero {
  height: 110vh;
  width: 100%;
  background-color: $white;
  background-size: cover;

  @media screen and (max-width: $small) {
    height: 45vh;

  }
}

.cs-intro-wrap {
  padding-top: $vlrg-pad;
  padding-bottom: $vlrg-pad;
  min-height: 95vh;

  p, span, ul, a {
    display: inline-block;
    font-weight: 600;
  }
  span, ul {
    color: $blue2;
    display: inline;
  }

  span { margin-left: $sml-pad; }

  a {
    color: $blue2;
    &:hover { color: $white; }
  }

}

.lst-inline li {
  display: inline-block;
  margin-right: $sml-pad;

  &:before {
    color: $white;
    content: "/";
  }

  &:first-of-type {
    margin-left: 0;
    &:before { content: ""; }
  }
}


@media screen and (max-width: $medium) {
  .flex-stack-med {
    flex-direction: column; 
  }
}

.max-550 { max-width: 550px; }

.sect-rhs-wrap {
  height: 100%;
  width: 100%;
  position: absolute;

  @media screen and (max-width: $medium) {

  }
}

.sect-rhs {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  display: block;
  overflow: hidden;

  @media screen and (max-width: $medium) {
    top: auto;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
  }
}

.sect-rhs-fill {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 70%;
  display: block;

  &::after {
    content: "";
    width: 100px;
    height: 120%;
    display: block;
    position: absolute;
    left: calc(0% - 50px);
    top: -10%;
    border-radius: 200%;
  }

  @media screen and (max-width: $medium) {
    top: auto;
    bottom: 0;
    height: 70%;
    width: 100%;

    &::after {
      width: 120%;
      height: 100px;
      left: -10%;
      top: calc(0% - 50px);
    }
  }
}

.rhs-img, .lhs-img {
  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $medium) {
      float: left;
      width: 100%;
    }
  }
}

@media screen and (max-width: $medium) {
  .rhs-img {
    margin-top: $vlrg-pad;
  }

  .lhs-img {
    margin-bottom: $vlrg-pad;
  }
}

.rhs-img-scroll {
  width: calc(50% - 16px);
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;

  img {
    float: right;
    width: 100%;
    max-width: 100%;
  }

  @media screen and (max-width: $medium) {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 64px;
    height: 450px;
  }
}


.product-shots-wrap {
  text-align: center;
  padding-top: $vlrg-pad;
  padding-bottom: $vlrg-pad;

  img { 
    max-width: 100%;
    margin-top: $vlrg-pad;
  }
}






