
//===============================================================================
// VARIABLES
//===============================================================================

//colours
$ink: #000000;
$white: #ffffff;

$blue1: #5541D0;
$blue2: #5A62F9;
$blue3: #89B6FF;


//padding
$sml-pad: 8px;
$reg-pad: 16px;
$med-pad: 24px;
$lrg-pad: 32px;
$vlrg-pad: 64px;
$xvlrg-pad: 96px;
$xxvlrg-pad: 128px;

.marg-bot-6 { margin-bottom: $xvlrg-pad; }


//animation
$short: 0.3s;
$med: 0.6s;
$long: 0.9s;
$vLong: 1.5s;


//colour
.bg-ink { background: $ink; }
.bg-white { background: $white; }
.bg-blue1 {
  background: $blue1;
   a {
    color: $blue3;
    &:hover { color: $white; }
  }
}
.bg-blue2 { background: $blue2;}
.bg-blue3 { background: $blue3; }

.color-ink { color: $ink; }
.color-white { color: $white; }
.color-blue1 { color: $blue1; }
.color-blue2 { color: $blue2; }
.color-blue3 { color: $blue3; }





