<div class="section-sub-head flex-cent bg-ink col-1-1">
  <div class="col-golden">
    <h2>Let's Connect.</h2>
    <h4>
      <a href="https://www.linkedin.com/in/ian-black-720a3942" target="_blank">LinkedIn</a>
      <span>/</span>
      <a href="https://medium.com/@itomblack88" target="_blank">Medium</a>
      <span>/</span>
      <a href="https://www.instagram.com/itomblack/" target="_blank">Instagram</a>
      <span>/</span>
      <a href="https://github.com/itomblack" target="_blank">Github</a>
    </h4>
  </div>
</div>