
<div id="menu-bar" class="header-wrap bg-ink">
  <!-- Header bar -->
  <div class="outer-pad svg-white">  
    <a href="index.html">
      @@include('../svg/logo.html')
    </a>
  </div><!-- Close header bar -->
  
  <!-- Menu Content -->
  <transition name="slide-fade">
    <div id="menu-content" v-if="menuseen"> 
      <div class="menu-wrap">
        <div class="">
          <a href="index.html"><h3 class="serif">Home</h3></a>

          <a href="travel-project.html"><h5>Travel Supermarket</h5></a>
          <a href="hitsource-project.html"><h5>HitSource</h5></a>
          <a href="http://itomblack.github.io/harp/" target="_blank"><h5>Blues Harp Hack</h5></a>
          <a href="https://itomblack.github.io/whisky-map/" target="_blank"><h5>Whisky Map Hack</h5></a>

          <a href="cv.html"><h3 class="serif">CV</h3></a>

          <a href="https://www.linkedin.com/in/ian-black-720a3942" target="_blank" class="sub-p">LinkedIn</a>
          <a href="https://medium.com/@itomblack88" target="_blank" class="sub-p">Medium</a>
          <a href="https://www.instagram.com/itomblack/" target="_blank" class="sub-p">Instagram</a>
          <a href="https://github.com/itomblack" target="_blank" class="sub-p">Github</a>
        </div>
      </div>
    </div>
  </transition>


  <h5 id="menu-open" class="menu-btn color-blue2" v-on:click="openclosemenu"> {{ menutext }} </h5>

</div>





