<div class="grid cs-intro-wrap flex-cent">
  <div class="col-2-3">
    <h2>Delivering A Better Experience.</h2>
    <h4>This price comparison site for package holidays had a successful history but a rapidly declining audience. Our team committed to fixing it.</h4>

    <div>
      <p>Role: </p>
      <span>
        <ul class="lst-inline">
          <li>Strategy</li>
          <li>UX</li>
          <li>Design</li>
          <li>Prototyping</li>
        </ul>
      </span>
    </div>

    <div>
      <p>Agency: </p>
      <p><span>Beyond</span></p>
    </div>

    <div>
      <p>Site: </p>
      <span><a href="https://www.travelsupermarket.com/" target="_blank">TravelSupermarket.com</a></span>
    </div>
   
  </div>
</div>